<%= form_for [@commentable, @comment] do |f| %>

    <div class="row">
      <div class="large-12">
      </div>
    </div>

  <div class="row">
    <div class="large-12 columns">
      <fieldset>
        <legend>Comment</legend>

        <% if @comment.errors.any? %>
          <div data-alert class="alert-box alert">
            <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>

            <a href="#" class="close">&times;</a>
          </div>
        <% end %>

        <div class="row">
          <div class="large-12 columns">
            <%= f.label :body %>
            <%= f.text_area :body, rows: 8 %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.submit class: 'button' %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

<% end %>