<h1>Listing product_technologies</h1>

<table>
  <tr>
    <th>Date & Time</th>
    <th>Product</th>
    <th>Technology</th>
    <th>State</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_technologies.each do |product_technology| %>
  <tr>
    <td><%= product_technology.created_at.strftime('%F %H:%M') %></td>
    <td><%= product_technology.product.name %></td>
    <td><%= product_technology.technology.name %></td>
    <td><%= product_technology.state.name %></td>
    
    <td><%= link_to 'Show', product_technology %></td>
    <td><%= link_to 'Edit', edit_product_technology_path(product_technology) %></td>
    <td><%= link_to 'Destroy', product_technology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product technology', new_product_technology_path %>
