<h1>Implementation states</h1>

<div class="button-bar">
  <ul class="button-group">
    <li><%= link_to 'Create State', new_state_path, :class => ['small', 'button'] %></li>
  </ul>
</div>

<% if @states.count > 0 %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @states.each do |state| %>
        <tr>
          <td><%= link_to state.name, state %></td>
          <td>
            <%= link_to image_tag('pencil.png', alt: 'Edit state', title: 'Edit state' ), edit_state_path(state), class: 'small secondary inline button' %>
            <%= link_to image_tag('delete.png', alt: 'Delete state', title: 'Delete state' ), state, method: :delete, data: { confirm: 'Are you sure?' }, class: 'small secondary inline button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="secondary alert-box">There are no implementation states yet&hellip; <%= link_to 'create one', new_state_path %>.</p>
<% end %>