<%= form_for [@recommendable, @recommend] do |f| %>
  <% if @recommend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommend.errors.count, "error") %> prohibited this recommend from being saved:</h2>

      <ul>
      <% @recommend.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recommendation %><br />
    <%= f.select :recommendation_id, options_for_select(Recommendation.find(:all).map{|x| [x.name.titleize, x.id] }) %>
  </div>
  <div class="field">
    <%= f.label :context %><br />
    <%= f.text_area :context %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
