<%= form_for [@recommendable, @recommend] do |f| %>
  <fieldset>
    <legend>Recommendation</legend>
    <% if @recommend.errors.any? %>
      <div data-alert class="alert-box alert">
        <ul>
        <% @recommend.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>

        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="row">
      <div class="large-12 columns">
        <%= f.label :recommendation %>
        <%= f.select :recommendation_id, options_for_select(Recommendation.find(:all).map{|x| [x.name.titleize, x.id] }) %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :context %>
        <%= f.text_area :context %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.submit class: 'button' %>
      </div>
    </div>
  </fieldset>
<% end %>
