<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %><small><em>Between 3-10 alphanumeric characters, and can contain dashes and underscores</em></small>
    <div class="row collapse">
      <div class="small-12 large-4 columns">
        <span class="prefix text-right">http://ourtechradar.herokuapp.com/</span>
      </div>
      <div class="small-12 large-8 columns">
        <%= f.text_field :slug %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'button' %>
  </div>
<% end %>
