<%= form_for(@technology, :html => {:class => "custom"}) do |f| %>
  <fieldset>
    <legend>Technology</legend>

    <% if @technology.errors.any? %>
      <div data-alert class="alert-box alert">
        <ul>
        <% @technology.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>

        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="row">
      <div class="large-12 columns">
        <%= f.label :category %>
        <%= f.select :category_id, options_for_select(@categories.map{|x| [x.name.titleize.pluralize, x.id] }), class: ['custom','dropdown','medium'] %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :summary %>
        <small><%= md_help %></small>
        <%= f.text_area :summary %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :description %>
        <small><%= md_help %></small>
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.submit class: 'button' %>
      </div>
    </div>
  </fieldset>
<% end %>
