<h1>Technologies</h1>

<div class="button-bar">
  <ul class="button-group">
    <li><%= link_to 'Create Technology', new_technology_path, :class => ['small', 'button'] %></li>
  </ul>
</div>

<% if @technologies.count > 0 %>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Summary</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @technologies.each do |technology| %>
      <tr>
        <td><%= technology.category.name.singularize.titleize %></td>
        <td><%= link_to technology.name, technology %></td>
        <td><%= md technology.summary.to_s %></td>
        <td>
          <%= link_to image_tag('pencil.png', alt: 'Edit technology', title: 'Edit technology' ), edit_technology_path(technology), class: 'small secondary inline button' %>
          <%= link_to image_tag('delete.png', alt: 'Delete technology', title: 'Delete technology' ), technology, method: :delete, data: { confirm: 'Are you sure?' }, class: 'small secondary inline button' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="secondary alert-box">There are no technologies yet&hellip; <%= link_to 'create one', new_technology_path %>.</p>
<% end %>