<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @technology.category.name %>
</p>

<p>
  <b>Name:</b>
  <%= @technology.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @technology.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @technology.description %>
</p>

<h2>Comments</h2>

<%= render :partial => 'comments/comments' %>
<%= render :partial => 'comments/form' %>

<%= link_to 'Edit', edit_technology_path(@technology) %> |
<%= link_to 'Back', technologies_path %>
