<div class="button-bar">
	<div class="button-group">
		<%= link_to 'Back', technologies_path, class: 'small secondary button' %>
	</div>
	<div class="button-group">
		<%= link_to 'Edit', edit_technology_path(@technology), class: 'small button' %>
		<%= link_to 'Delete', @technology, method: :delete, data: { confirm: 'Are you sure?' }, class: 'small alert button' %>
	</div>
</div>

<h2 class="subheader"><%= @technology.category.name.singularize %></h2>

<div class="row">
	<div class="large-8 columns">

		<h3><%= @technology.name %></h3>
		<% if @technology.recommends.count > 0 %>
			<p>Current recommendation: <strong style="color: blue;"><%= @technology.recommends.last.recommendation.name.titleize %></strong></p>
		<% end %>

		<% unless @technology.summary.to_s.empty? %>
			<div>
			  <%= md @technology.summary.to_s %>
			</div>
		<% end %>

		<% unless @technology.description.to_s.empty? %>
			<div>
			  <%= md @technology.description.to_s %>
			</div>
		<% end %>

		<h4 class="subheader">Recommendations</h4>

		<%= render :partial => 'recommends/recommends' %>
		<%= render :partial => 'recommends/form' %>

		<h4 class="subheader">Comments</h4>

		<%= render :partial => 'comments/comments' %>
		<%= render :partial => 'comments/form' %>

	</div>

	<div class="large-4 columns">
		<% if !@products_using_this.empty? && @products_using_this.count.count > 0 %>
			<div class="panel">
				<h5>Products using this</h5>
				<ul class="no-bullet">
					<% @products_using_this.each do |pt| %>
						<li><%= link_to pt.product.name, pt.product %> <em>(<%= pt.state.name %>)</em></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<% if @products_not_using_this.count > 0 %>
		<div class="panel">
			<h5>Products not using this yet</h5>
				<ul class="no-bullet">
					<% @products_not_using_this.each do |product| %>
						<li><%= link_to product.name, product %></li>
					<% end %>
			</div>
		<% end %>
	</div>

</div>