<div class="button-bar">
	<div class="button-group">
		<%= link_to 'Back', products_path, class: 'small secondary button' %>
	</div>
	<div class="button-group">
		<%= link_to 'Edit', edit_product_path(@product), class: 'small button' %>
		<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'small alert button' %>
	</div>
</div>

<h1><%= @product.name %></h1>

<%= render :partial => 'usage' %>
<%= render :partial => 'usages' %>

<h3>Comments</h3>

<%= render :partial => 'comments/comments' %>
<%= render :partial => 'comments/form' %>